# Geopandas onboarding

In [1]:
import geopandas as gpd

In [2]:
gpd.__version__

'0.9.0'

In [3]:
gpd.datasets.available

['naturalearth_cities', 'naturalearth_lowres', 'nybb']

In [4]:
nybb = gpd.read_file(gpd.datasets.get_path("nybb"))

In [5]:
print(type(nybb))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [6]:
nybb

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330470.010332,1.623820e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
1,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."
2,3,Brooklyn,741080.523166,1.937479e+09,"MULTIPOLYGON (((1021176.479 151374.797, 102100..."
3,1,Manhattan,359299.096471,6.364715e+08,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
4,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."

In [7]:
print(type(nybb["geometry"]))

<class 'geopandas.geoseries.GeoSeries'>